# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [11]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [12]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("./Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [14]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [15]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [16]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse= False)

In [17]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [18]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns= enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [19]:
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

In [20]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, numerical_variables_df], axis=1)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [21]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [22]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns= "IS_SUCCESSFUL")

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [24]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [25]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [33]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [34]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [35]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [36]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) //2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [37]:
# Create the Sequential model instance
nn = Sequential()

In [38]:
# Add the first hidden layer
nn.add(Dense(units= hidden_nodes_layer1, input_dim= number_input_features, activation= "relu"))

In [39]:
# Add the second hidden layer
nn.add(Dense(units= hidden_nodes_layer2, activation= "relu"))

In [40]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units= number_output_neurons, activation= "sigmoid"))

In [41]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 58)                6786

 dense_3 (Dense)             (None, 29)                1711

 dense_4 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [42]:
# Compile the Sequential model
nn.compile(loss= "binary_crossentropy", optimizer= "adam", metrics= ["accuracy"])

In [43]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5758 - accuracy: 0.7200
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7288
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7312
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7327
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7325
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7330
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7333
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7357
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7350
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7352
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7365
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7354
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7357
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7357
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7362
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7364
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7368
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7375
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7371
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7368
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7381
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7385
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7371
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7388
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7380
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7391
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7385
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7389
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7376
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7398
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7389
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7392
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7400
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7395
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7405
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7410
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7397
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7391
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7401
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7401
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7400
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7410

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [44]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose= 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5549 - accuracy: 0.7311 - 327ms/epoch - 1ms/step
Loss: 0.5549089312553406, Accuracy: 0.7310787439346313

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [46]:
# Set the model's file path
file_path = Path("./Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [109]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [110]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [116]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 200

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

200

In [117]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [118]:
# First hidden layer
nn_A1.add(Dense(units= hidden_nodes_layer1_A1, input_dim= number_input_features, activation= "relu"))


# Output layer
nn_A1.add(Dense(units= number_output_neurons_A1, activation= "sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_34 (Dense)            (None, 200)               23400

 dense_35 (Dense)            (None, 1)                 201

=================================================================
Total params: 23,601
Trainable params: 23,601
Non-trainable params: 0
_________________________________________________________________

In [119]:
# Compile the Sequential model
nn_A1.compile(loss= "binary_crossentropy", optimizer= "adam", metrics= ["accuracy"])

In [120]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5804 - accuracy: 0.7186
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5606 - accuracy: 0.7263
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7299
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7310
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7306
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7309
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7310
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7303
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7322
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7331
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7334
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7341
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7342
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7339
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7337
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7328
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7353
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7340: 0s - loss: 0.5
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7340
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7343
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7360
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7330
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7348
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7360: 0s - loss: 0.5395
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7352
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7345
Epoch 28/50
804/804 [==============================] - 1s 962us/step - loss: 0.5409 - accuracy: 0.7356
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7369
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7356
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7357
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7368
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7361
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7359
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7367
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7371
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7373
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7361
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7374
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7363
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7378
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7379
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7365: 0s - loss: 0.5381 - accuracy: 0.
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7362

#### Alternative Model 2

In [131]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [132]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [133]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 60

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

60

In [134]:
hidden_nodes_layer2_A2 = 30

In [135]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [136]:
# First hidden layer
nn_A2.add(Dense(units= hidden_nodes_layer1_A2, input_dim= number_input_features, activation= "relu"))

nn_A2.add(Dense(units= hidden_nodes_layer2_A2, activation= "relu"))

# Output layer
nn_A2.add(Dense(units= number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_38 (Dense)            (None, 60)                7020

 dense_39 (Dense)            (None, 30)                1830

 dense_40 (Dense)            (None, 1)                 31

=================================================================
Total params: 8,881
Trainable params: 8,881
Non-trainable params: 0
_________________________________________________________________

In [137]:
# Compile the model
nn_A2.compile(loss= "binary_crossentropy", optimizer= "adam", metrics= ["accuracy"])

In [150]:
# Fit the model
fit_model_A2 = nn_A1.fit(X_train_scaled, y_train, validation_split=0.3,  epochs=80)

Epoch 1/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7385 - val_loss: 0.5231 - val_accuracy: 0.7501
Epoch 2/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7394 - val_loss: 0.5235 - val_accuracy: 0.7507
Epoch 3/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7389 - val_loss: 0.5243 - val_accuracy: 0.7506
Epoch 4/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7399 - val_loss: 0.5258 - val_accuracy: 0.7483
Epoch 5/80
563/563 [==============================] - 1s 2ms/step - loss: 0.6021 - accuracy: 0.7385 - val_loss: 0.5358 - val_accuracy: 0.7473
Epoch 6/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7398 - val_loss: 0.5328 - val_accuracy: 0.7479
Epoch 7/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7409 - val_loss: 0.5343 - val_accuracy: 0.7458
Epoch 8/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7409 - val_loss: 0.5347 - val_accuracy: 0.7455
Epoch 9/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7406 - val_loss: 0.5355 - val_accuracy: 0.7475
Epoch 10/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7423 - val_loss: 0.5359 - val_accuracy: 0.7441
Epoch 11/80
563/563 [==============================] - 1s 3ms/step - loss: 0.5288 - accuracy: 0.7408 - val_loss: 0.5379 - val_accuracy: 0.7449
Epoch 12/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7413 - val_loss: 0.5369 - val_accuracy: 0.7455
Epoch 13/80
563/563 [==============================] - 2s 4ms/step - loss: 0.5288 - accuracy: 0.7416 - val_loss: 0.5394 - val_accuracy: 0.7442
Epoch 14/80
563/563 [==============================] - 3s 5ms/step - loss: 0.5295 - accuracy: 0.7410 - val_loss: 0.5376 - val_accuracy: 0.7448 l
Epoch 15/80
563/563 [==============================] - 1s 3ms/step - loss: 0.5294 - accuracy: 0.7410 - val_loss: 0.5390 - val_accuracy: 0.7436
Epoch 16/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7411 - val_loss: 0.5400 - val_accuracy: 0.7448
Epoch 17/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7410 - val_loss: 0.5422 - val_accuracy: 0.7446
Epoch 18/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7416 - val_loss: 0.5439 - val_accuracy: 0.7433
Epoch 19/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7413 - val_loss: 0.5427 - val_accuracy: 0.7435
Epoch 20/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5295 - accuracy: 0.7417 - val_loss: 0.5439 - val_accuracy: 0.7409
Epoch 21/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7407 - val_loss: 0.5439 - val_accuracy: 0.7418
Epoch 22/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7404 - val_loss: 0.5469 - val_accuracy: 0.7413
Epoch 23/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5294 - accuracy: 0.7406 - val_loss: 0.5460 - val_accuracy: 0.7415
Epoch 24/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7408 - val_loss: 0.5462 - val_accuracy: 0.7437
Epoch 25/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7410 - val_loss: 0.5499 - val_accuracy: 0.7429
Epoch 26/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5965 - accuracy: 0.7403 - val_loss: 0.5607 - val_accuracy: 0.7402
Epoch 27/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7409 - val_loss: 0.5580 - val_accuracy: 0.7413
Epoch 28/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7416 - val_loss: 0.5589 - val_accuracy: 0.7424
Epoch 29/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7420 - val_loss: 0.5577 - val_accuracy: 0.7429
Epoch 30/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5285 - accuracy: 0.7420 - val_loss: 0.5596 - val_accuracy: 0.7427
Epoch 31/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7411 - val_loss: 0.5602 - val_accuracy: 0.7429
Epoch 32/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7408 - val_loss: 0.5599 - val_accuracy: 0.7419
Epoch 33/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7414 - val_loss: 0.5592 - val_accuracy: 0.7423
Epoch 34/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7415 - val_loss: 0.5609 - val_accuracy: 0.7400
Epoch 35/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7415 - val_loss: 0.5573 - val_accuracy: 0.7433
Epoch 36/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5288 - accuracy: 0.7413 - val_loss: 0.5577 - val_accuracy: 0.7425
Epoch 37/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7411 - val_loss: 0.5613 - val_accuracy: 0.7388
Epoch 38/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7404 - val_loss: 0.5568 - val_accuracy: 0.7425
Epoch 39/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5294 - accuracy: 0.7416 - val_loss: 0.5568 - val_accuracy: 0.7424
Epoch 40/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5286 - accuracy: 0.7419 - val_loss: 0.5580 - val_accuracy: 0.7422
Epoch 41/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7415 - val_loss: 0.5592 - val_accuracy: 0.7416
Epoch 42/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7413 - val_loss: 0.5605 - val_accuracy: 0.7414
Epoch 43/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7414 - val_loss: 0.5586 - val_accuracy: 0.7411
Epoch 44/80
563/563 [==============================] - 1s 3ms/step - loss: 0.5289 - accuracy: 0.7408 - val_loss: 0.5641 - val_accuracy: 0.7385
Epoch 45/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7408 - val_loss: 0.5615 - val_accuracy: 0.7413
Epoch 46/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5825 - accuracy: 0.7398 - val_loss: 0.5714 - val_accuracy: 0.7403
Epoch 47/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7420 - val_loss: 0.5730 - val_accuracy: 0.7406
Epoch 48/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7413 - val_loss: 0.5724 - val_accuracy: 0.7401
Epoch 49/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5276 - accuracy: 0.7419 - val_loss: 0.5728 - val_accuracy: 0.7405
Epoch 50/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7413 - val_loss: 0.5701 - val_accuracy: 0.7414
Epoch 51/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7411 - val_loss: 0.5666 - val_accuracy: 0.7420
Epoch 52/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7417 - val_loss: 0.5682 - val_accuracy: 0.7422
Epoch 53/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7416 - val_loss: 0.5692 - val_accuracy: 0.7393
Epoch 54/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5288 - accuracy: 0.7404 - val_loss: 0.5660 - val_accuracy: 0.7414
Epoch 55/80
563/563 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7408 - val_loss: 0.5672 - val_accuracy: 0.7422
Epoch 56/80
563/563 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7418 - val_loss: 0.5686 - val_accuracy: 0.7406
Epoch 57/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7419 - val_loss: 0.5693 - val_accuracy: 0.7387
Epoch 58/80
563/563 [==============================] - 3s 5ms/step - loss: 0.5284 - accuracy: 0.7424 - val_loss: 0.5700 - val_accuracy: 0.7381
Epoch 59/80
563/563 [==============================] - 3s 6ms/step - loss: 0.5288 - accuracy: 0.7413 - val_loss: 0.5689 - val_accuracy: 0.7383
Epoch 60/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5286 - accuracy: 0.7409 - val_loss: 0.5657 - val_accuracy: 0.7400
Epoch 61/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7408 - val_loss: 0.5684 - val_accuracy: 0.7409
Epoch 62/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5286 - accuracy: 0.7409 - val_loss: 0.5706 - val_accuracy: 0.7394
Epoch 63/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7407 - val_loss: 3.2810 - val_accuracy: 0.7256
Epoch 64/80
563/563 [==============================] - 2s 3ms/step - loss: 0.6445 - accuracy: 0.7378 - val_loss: 0.6060 - val_accuracy: 0.7398
Epoch 65/80
563/563 [==============================] - 2s 4ms/step - loss: 0.5288 - accuracy: 0.7406 - val_loss: 0.6029 - val_accuracy: 0.7403
Epoch 66/80
563/563 [==============================] - 2s 4ms/step - loss: 0.5286 - accuracy: 0.7408 - val_loss: 0.5989 - val_accuracy: 0.7409
Epoch 67/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7406 - val_loss: 0.5973 - val_accuracy: 0.7409
Epoch 68/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5282 - accuracy: 0.7415 - val_loss: 0.5971 - val_accuracy: 0.7413
Epoch 69/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5274 - accuracy: 0.7415 - val_loss: 0.5969 - val_accuracy: 0.7407
Epoch 70/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5268 - accuracy: 0.7407 - val_loss: 0.5992 - val_accuracy: 0.7388
Epoch 71/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5280 - accuracy: 0.7414 - val_loss: 0.5942 - val_accuracy: 0.7418
Epoch 72/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7419 - val_loss: 0.5929 - val_accuracy: 0.7391
Epoch 73/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7425 - val_loss: 0.5922 - val_accuracy: 0.7393
Epoch 74/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5282 - accuracy: 0.7411 - val_loss: 0.5894 - val_accuracy: 0.7413
Epoch 75/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7410 - val_loss: 0.5893 - val_accuracy: 0.7413
Epoch 76/80
563/563 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7419 - val_loss: 0.5893 - val_accuracy: 0.7403
Epoch 77/80
563/563 [==============================] - 1s 3ms/step - loss: 0.5274 - accuracy: 0.7424 - val_loss: 0.5863 - val_accuracy: 0.7381
Epoch 78/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7412 - val_loss: 0.5876 - val_accuracy: 0.7400
Epoch 79/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7409 - val_loss: 0.5837 - val_accuracy: 0.7400
Epoch 80/80
563/563 [==============================] - 1s 2ms/step - loss: 0.5284 - accuracy: 0.7412 - val_loss: 0.5883 - val_accuracy: 0.7415

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [147]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose= 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5549 - accuracy: 0.7311 - 228ms/epoch - 852us/step
Loss: 0.5549089312553406, Accuracy: 0.7310787439346313

In [148]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose= 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.8689 - accuracy: 0.7287 - 199ms/epoch - 742us/step
Loss: 0.868914783000946, Accuracy: 0.7287463545799255

In [149]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose= 2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.7394 - accuracy: 0.4307 - 192ms/epoch - 717us/step
Loss: 0.7393515110015869, Accuracy: 0.4306705594062805

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE